<html>
    <head>
        <title>Petit URL</title>
        <link rel="stylesheet" type="text/css" href="../static/css/petit.css" />
        <script src="../static/javascript/jquery-1.12.0.min.js" > </script>
        <script src="../static/javascript/petit.js" ></script>
    </head>
    <body>
        <h1>Petit URL! </h1>
        <div id="main-content">
            <div class="url-input">
                <label>Enter the grande url </label> <br/>
                <input type="text" name="url" id="url" />
                <input type="button" id="makeItPetit" value="Make it petit" />
            </div>
            <div id="url-output" >
                
            </div>
        </div>
    </body>
</html>
